body {
  background-color: black;
}

.container {
  background-image: url(../assets/Dollarphotoclub_61600915-2640942634.jpeg);
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 671px;
  padding-bottom: 671px;
  filter: blur(3px);
  position: relative;
}

.content {
  font-size: 36px;
  position: absolute;
  color: white;
  left: 0;
  top: 50%;
  right: 0;
  text-align: center;
  transform: translateY(-50%);
}

.rectangle {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 400px;
  background: linear-gradient(0deg, rgba(0,0,0,1) 30%, rgba(255,255,255,0) 100%);
}

.title-description {
  color: white;
  font-size: 72px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 300px;
}
